body {
  background: rgb(227, 216, 238);
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 30px;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
  margin-top: 30px;
}

footer a {
  margin: 0 10px;
  color: #b75908;
  text-decoration: none;
  font-size: medium;
}
a {
  color: blue;
  text-decoration: none;
}
.croissant-photo {
  width: 50%;
}
